In [35]:
import os

import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

import matplotlib.pyplot as plt

In [36]:
df = pd.read_csv('data.csv',low_memory=False)
df.head()

,pixel_0000,pixel_0001,pixel_0002,pixel_0003,pixel_0004,pixel_0005,pixel_0006,pixel_0007,pixel_0008,pixel_0009,...,pixel_1015,pixel_1016,pixel_1017,pixel_1018,pixel_1019,pixel_1020,pixel_1021,pixel_1022,pixel_1023,character
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_01_ka
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_01_ka
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_01_ka
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_01_ka
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,character_01_ka

In [37]:
df.iloc[:,1024].value_counts()

character_13_daa             2000
digit_1                      2000
character_06_cha             2000
character_19_dha             2000
character_10_yna             2000
character_25_ma              2000
character_23_ba              2000
character_17_tha             2000
character_09_jha             2000
character_15_adna            2000
character_05_kna             2000
digit_2                      2000
character_31_petchiryakha    2000
character_12_thaa            2000
character_04_gha             2000
digit_8                      2000
character_27_ra              2000
character_20_na              2000
character_02_kha             2000
character_11_taamatar        2000
character_30_motosaw         2000
character_01_ka              2000
digit_7                      2000
character_21_pa              2000
character_36_gya             2000
digit_9                      2000
character_08_ja              2000
character_14_dhaa            2000
character_07_chha            2000
character_34_chhya           2000
character_33_ha              2000
character_24_bha             2000
digit_5                      2000
character_16_tabala          2000
character_29_waw             2000
character_35_tra             2000
character_28_la              2000
character_22_pha             2000
character_03_ga              2000
digit_4                      2000
digit_6                      2000
character_32_patalosaw       2000
character_18_da              2000
digit_0                      2000
character_26_yaw             2000
digit_3                      2000
Name: character, dtype: int64

In [38]:
df['character_class'] = LabelEncoder().fit_transform(df.character)
df.drop('character', axis=1, inplace=True)
df = df.astype(np.uint8)
df.iloc[0:,1024].value_counts()

45    2000
11    2000
20    2000
19    2000
18    2000
17    2000
16    2000
15    2000
14    2000
13    2000
12    2000
10    2000
44    2000
9     2000
8     2000
7     2000
6     2000
5     2000
4     2000
3     2000
2     2000
1     2000
21    2000
22    2000
23    2000
24    2000
43    2000
42    2000
41    2000
40    2000
39    2000
38    2000
37    2000
36    2000
35    2000
34    2000
33    2000
32    2000
31    2000
30    2000
29    2000
28    2000
27    2000
26    2000
25    2000
0     2000
Name: character_class, dtype: int64

In [46]:
from scipy.misc import imread
from sklearn.linear_model import RidgeClassifier
from sklearn.naive_bayes import BernoulliNB, GaussianNB
from sklearn.tree import ExtraTreeClassifier, DecisionTreeClassifier
from sklearn.neighbors import NearestCentroid, KNeighborsClassifier
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier
from sklearn.model_selection import cross_validate, GridSearchCV, learning_curve

df_sample = df.sample(frac=0.1, random_state=0)

names = ['RidgeClassifier', 'BernoulliNB', 'GaussianNB', 'ExtraTreeClassifier', 'DecisionTreeClassifier',
         'NearestCentroid', 'KNeighborsClassifier', 'ExtraTreesClassifier', 'RandomForestClassifier']
classifiers = [RidgeClassifier(), BernoulliNB(), GaussianNB(), ExtraTreeClassifier(), DecisionTreeClassifier(),
                NearestCentroid(), KNeighborsClassifier(), ExtraTreesClassifier(), RandomForestClassifier()]
test_scores, train_scores, fit_time, score_time = [], [], [], []

for clf in classifiers:
    scores = cross_validate(clf, df_sample.iloc[:, :-1], df_sample.iloc[:, -1])
    test_scores.append(scores['test_score'].mean())
    train_scores.append(scores['train_score'].mean())
    fit_time.append(scores['fit_time'].mean())
    score_time.append(scores['score_time'].mean())

pd.DataFrame({'Classifier': names,
              'Test_Score': test_scores,
              'Train_Score': train_scores,
              'Fit_Time': fit_time,
              'Score_Time': score_time})

               Classifier  Fit_Time  Score_Time  Test_Score  Train_Score
0         RidgeClassifier  1.275656    0.015632    0.423384     0.841250
1             BernoulliNB  0.166061    0.046887    0.512742     0.546638
2              GaussianNB  0.130474    1.564158    0.396972     0.433721
3     ExtraTreeClassifier  0.088546    0.010413    0.314811     1.000000
4  DecisionTreeClassifier  3.388868    0.011214    0.366842     1.000000
5         NearestCentroid  0.052179    0.026035    0.530247     0.568857
6    KNeighborsClassifier  0.663914   31.246632    0.721442     0.841367
7    ExtraTreesClassifier  0.581818    0.027867    0.574267     1.000000
8  RandomForestClassifier  0.861901    0.024795    0.547272     0.998750